# vim: ft=zsh
alias sudo='sudo '
alias c='clear'

alias vim='nvim'
alias lg='lazygit'

alias urlencode='python3 -c "import sys, urllib.parse as ul; print (ul.quote_plus(sys.argv[1]))"'
alias urldecode='python3 -c "import sys, urllib.parse as ul; print(ul.unquote_plus(sys.argv[1]))"'

alias dco='docker compose'
alias dcb='docker compose build'
alias dcrr='docker compose run --rm --service-ports'
alias docker-clean=' \
  docker container prune -f ; \
  docker image prune -f ; \
  docker network prune -f ; \
  docker volume prune -f '
